html, body {
    overflow-x: hidden;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin-bottom: 2rem;
    width: 100%;
    max-width: 1000px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

h1, h2 {
    color: #333;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem;
}

/* Responsive styles */
@media (max-width: 900px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    li {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    li {
        font-size: 16px;
    }
}

@media (max-width: 320px) {
    body {
        padding: 5px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    li {
        font-size: 14px;
    }
}

/* Dice container styling*/
#player-dice, #computer-dice {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 5px solid black;
    box-shadow: 0px 2px 5px black;
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
}

#dice-container {
    display: flex;
    flex-direction: row;
    align-items: space-around;
    justify-content: center;
}

.dice-images {
    width: 100%;
    max-width: 250px;
    margin: 0px auto;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    size: absolute;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 5px;
    
}

button:hover {
    background-color: #45a049;
}

